.hero {
    position: relative;
}

.bannerVideo {
    width: 100%;
    mask-image: linear-gradient(to right, transparent, black 15%);
    object-fit: fill;
    height: 30%;
}

.hero-caption {
    position: absolute; 
    color: white; 
    padding-left: 6%;
    bottom: 0;
}

.captionImg{
    width: 90%;
    max-width: 520px;
    margin-bottom: 60px;
}

.hero-caption p{
    max-width: 700px;
    font-size: 17px;
    margin-bottom: 20px;
}


.heroBtns{
    display: flex;
    gap: 10px;
    margin-bottom: 110px;    
}

.heroBtns .btn img{
    width: 38px;
}

.heroBtns .btn{
    border: 0;
    outline: 0;
    padding: 8px;
    display: inline-flex;
    align-items: center;
    padding-right: 20px;
    padding-left: 20px;
    gap: 10px;
    font-size: 15px;
    font-weight: 600;
    background: white;
    cursor: pointer;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}

.heroBtns .darkBtn{
    color: #fff;
    background: #6d6d6eb3;
}
.heroBtns .btn:hover{
    background: #ffffffbf;
}

.heroBtns .btn .darkBtn:hover{
    background: #6d6d6eb3 ;
}

.moreCards{
    position: relative; /* or remove this line */
    padding-left: 6%;
    width: 2150px;
    /* max-width: 2050px; */
    padding-top: 50px;
}

/* .moreCards img{
    padding-top: 50px;
} */