.navbar{
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    position: fixed;
    font-size: 14px;
    color: #e5e5e5;
    background-image: linear-gradient(180deg, rgba(0,0,0,0.7) 10%, transparent);
    z-index: 1;
}

.navbar-left{
    display: flex;
    align-items: center;
    gap: 15px;

}

.navbar-left ul{
    list-style: none;
    display: flex;
    gap: 20px;
    padding-left: 20px;
}

.navbar-left img{
    width: 90px;
}

.navbar-left ul li{

    cursor: pointer;
}

.navbar-right{
    display: flex;
    gap: 20px;
    align-items: center;
}

.navbar-right .icons{
    width: 20px;
    cursor: pointer;
}

.navbar-right .profile{
   border-radius: 4px;
   width: 35px;
  
}

.navbar-profile{
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    position: relative;
}


.dropDown ul li a{
  color: #fff;
  list-style: none;
  gap: 20px;
  display: block;
  text-decoration: none;
  margin-bottom: 10px;
  margin-top: 10px;
}

.dropDown ul li{
    list-style: none;
}

.navbar .dropDown {
    position: absolute;
    top: 100%;
    right: 0;
    width: max-content;
    background: #191919;
    padding: 18px 22px;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    display: none;
}

.navbar-profile:hover .dropDown{
    display: block;
}

.lineBreak {
    width: 200%;
    border: none; 
    height: 1px; 
    background-color: #868383; 
    margin: 10px 0; 
}

span p{
    display: inline-flex;
    align-items: center;
    gap: 10px;
    padding-left: 20px;
}

.nav-dark{
    background: #0d0d0d;
}